<a href="https://colab.research.google.com/github/sabinonatalia/SQL-PYTHON/blob/main/Projeto_Curso_SQL_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Projeto para exercitar os conhecimentos adquiridos no curso SQL com Python oferecido pelo [Data Viking](https://www.youtube.com/watch?v=gEBmqaa_IY8&list=PLLWTDkRZXQa88Opt03kzilhx_NGEYSfFt).

PROJETO PRÁTICO

1.   Gerar informações
2.   Criar uma tabela
3.   Ordenar os valores
4.   Salvar tabela

In [1]:
# 1 - Gerar informações
# Importe da biblioteca SQLite3
import sqlite3

[Documentação SQLite](https://docs.python.org/3/library/sqlite3.html)

In [2]:
Conexao = sqlite3.connect('Banco_Dados')

In [3]:
Cursor = Conexao.cursor()

In [4]:
# 2 - Criar uma tabela
Cursor.execute(
    'CREATE TABLE Pessoas(Nome text, Data_Nasc text, Hobbies)'
)

Conexao.commit()

In [6]:
Cursor.execute('INSERT INTO Pessoas VALUES ("Maria", "13/10/1996", "Cantar")')
Cursor.execute('INSERT INTO Pessoas VALUES ("Ana", "12/08/1996", "Cantar")')
Cursor.execute('INSERT INTO Pessoas VALUES ("Bea", "20/10/1996", "Cantar")')
Cursor.execute('INSERT INTO Pessoas VALUES ("Natalia", "11/02/1996", "Cantar")')

In [7]:
# Consultando tabela
Consulta = Cursor.execute('SELECT * FROM Pessoas').fetchall()

for Linha in Consulta:
  print(Linha)

('Maria', '11/10/1996', 'Cantar')
('Maria', '11/10/1996', 'Cantar')
('Maria', '13/10/1996', 'Cantar')
('Ana', '12/08/1996', 'Cantar')
('Bea', '20/10/1996', 'Cantar')
('Natalia', '11/02/1996', 'Cantar')

In [8]:
# 3- Ordenar os valores
Consulta = Cursor.execute('SELECT * FROM Pessoas ORDER BY Data_Nasc, Nome').fetchall()
for Linha in Consulta:
  print(Linha)

('Natalia', '11/02/1996', 'Cantar')
('Maria', '11/10/1996', 'Cantar')
('Maria', '11/10/1996', 'Cantar')
('Ana', '12/08/1996', 'Cantar')
('Maria', '13/10/1996', 'Cantar')
('Bea', '20/10/1996', 'Cantar')

In [9]:
# UPDATE em data de nascimento 
Consulta =  Cursor.execute('UPDATE Pessoas SET Data_Nasc = "15/10/1996" WHERE Data_Nasc IS "11/10/1996"').fetchall()

In [10]:
# Consulta pós update
Consulta = Cursor.execute('SELECT * FROM Pessoas').fetchall()
for Linha in Consulta:
  print(Linha)

('Maria', '15/10/1996', 'Cantar')
('Maria', '15/10/1996', 'Cantar')
('Maria', '13/10/1996', 'Cantar')
('Ana', '12/08/1996', 'Cantar')
('Bea', '20/10/1996', 'Cantar')
('Natalia', '11/02/1996', 'Cantar')

In [11]:
# Delete
Consulta = Cursor.execute('DELETE from Pessoas WHERE Nome = "Maria"').fetchall()

In [12]:
# Consulta pós delete
Consulta = Cursor.execute('SELECT * FROM Pessoas').fetchall()
for Linha in Consulta:
  print(Linha)

('Ana', '12/08/1996', 'Cantar')
('Bea', '20/10/1996', 'Cantar')
('Natalia', '11/02/1996', 'Cantar')

In [13]:
# Criando uma nova tabela
Consulta = Cursor.execute('CREATE TABLE Complemento (Idade real, Data_Nasc text)')

Conexao.commit()

In [14]:
# Inserindo valores na tabela nova
Cursor.execute('INSERT INTO Complemento VALUES (20, "12/08/1996")')
Cursor.execute('INSERT INTO Complemento VALUES (32, "20/10/1996")')
Cursor.execute('INSERT INTO Complemento VALUES (18, "11/02/1996")')

In [15]:
# Verificando a tabela
Consulta = Cursor.execute('SELECT * FROM Complemento').fetchall()

for Linha in Consulta:
  print(Linha)

(20.0, '12/08/1996')
(32.0, '20/10/1996')
(18.0, '11/02/1996')

In [16]:
# Fazendo um inner join 
Consulta = Cursor.execute('SELECT * FROM Pessoas INNER JOIN Complemento ON Pessoas.Data_Nasc = Complemento.Data_Nasc').fetchall()

for Linha in Consulta:
  print(Linha)

('Ana', '12/08/1996', 'Cantar', 20.0, '12/08/1996')
('Bea', '20/10/1996', 'Cantar', 32.0, '20/10/1996')
('Natalia', '11/02/1996', 'Cantar', 18.0, '11/02/1996')

In [18]:
# Fazendo um left join 
Cursor.execute('INSERT INTO Pessoas VALUES ("João", "12/05/2006", "Ler")')

In [19]:
Consulta = Cursor.execute('SELECT * FROM Pessoas LEFT JOIN Complemento ON Pessoas.Data_Nasc = Complemento.Data_Nasc').fetchall()

for Linha in Consulta:
  print(Linha)

('Ana', '12/08/1996', 'Cantar', 20.0, '12/08/1996')
('Bea', '20/10/1996', 'Cantar', 32.0, '20/10/1996')
('Natalia', '11/02/1996', 'Cantar', 18.0, '11/02/1996')
('João', '12/05/2006', 'Ler', None, None)